.next-level-main-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(73, 0, 18);
    background-image: url(../assets/Wireframe\ -\ 11.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    display: grid;
    place-items: center;
}
.next-levels{
    -webkit-box-shadow: inset -1px 0px 18px -13px rgba(125,0,125,1);
    -moz-box-shadow: inset -1px 0px 18px -13px rgba(125,0,125,1);
    box-shadow: inset -1px 0px 18px -13px rgba(125,0,125,1);
  

border-radius: 10px;
width: 85%;
height: 73%;
background-color: rgb(255, 255, 255);



display: flex;
flex-direction: column;
align-items: center; 
justify-content: space-evenly;

background-image: url(../assets/Group\ 24.svg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;


}
.next-levels label{
    /* margin-top: 3%; */
font-size: 1.6vw;
font-weight: bold;
  color:#470858;

}
.next-topic-btns{
    width: 55%;
    /* height: 75%; */
   min-height: 52%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px #B14EFF;
    border-radius: 10px;
  
}





#top-imgs{

    position: absolute;
    top: 8%;
    left: 5%;
}
#bottom-img{

    position: absolute;
    bottom: 0%;
    right: 5%;
height: 22%;
}