.splash-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(73, 0, 18);
    background-image: url(../assets/Wireframe\ -\ 4.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#logo{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 32%;
animation-name: example;
animation-duration: 4s;
/* transition: all 0.6s ease-in; */
}
@keyframes example {

    0%   {width: 32%;}
    25%  {width: 37%;}
    50%  {width: 35%;}
    100% {width: 32%;}
  }
